img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7142857143;
  letter-spacing: 0;
  color: #888;
  background-color: #fff;
}

.header__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.header .header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #202124;
  padding: 100px 0 40px;
}
.footer__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.footer__logo {
  text-align: center;
}
.footer__copy {
  font-size: 12px;
  color: #bbb;
}

.unit__catch {
  font-size: 12px;
  font-style: oblique;
  color: #FA6980;
  text-transform: uppercase;
}
.unit__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2777777778;
  color: #202124;
  margin-top: 10px;
}
.unit__title--border {
  border-bottom: #bbb dashed 1px;
  padding-bottom: 10px;
}
.unit__text {
  margin-top: 15px;
}

.card__body {
  padding: 35px;
  background-color: #fff;
}
.card__title {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
  line-height: 1.2777777778;
}
.card__text {
  margin-top: 15px;
}

.time {
  font-size: 12px;
  line-height: 1.6666666667;
  background: url(../images/icon_time.png) no-repeat left center;
  padding-left: 26px;
  margin-top: 20px;
}

.btn {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6666666667;
  color: #fff;
  background-color: #FA6980;
  width: 160px;
  padding: 14px 43px;
  margin-left: auto;
  margin-top: 25px;
}
.btn--about {
  background-color: #202124;
}

.news {
  margin-top: 60px;
}
.news__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.news__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  color: #202124;
  border-left: #FA6980 10px solid;
  padding: 0 0 0 10px;
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.news__item {
  width: 47.5%;
  margin-top: 60px;
}

.trending {
  background-color: #F6F6F6;
  padding: 60px 0;
  margin-top: 60px;
}
.trending__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.trending__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  color: #202124;
  border-left: #FA6980 10px solid;
  padding: 0 0 0 10px;
}
.trending__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.trending__item {
  width: 47.5%;
}

.post__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.post__item {
  margin-top: 40px;
}

.discovery {
  background-color: #F6F6F6;
  margin-top: 60px;
  padding: 60px 0;
}
.discovery__inner {
  width: 88%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.discovery__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  color: #202124;
  border-left: #FA6980 10px solid;
  padding: 0 0 0 10px;
}
.discovery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.discovery__item {
  width: 30%;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */